[submodule "demos/webgl_triangle_example/webgl-exercise"]
	path = demos/webgl_triangle_example/webgl-exercise
	url = https://github.com/sosi-org/webgl-exercise.git
[submodule "demos/implisolid-build"]
	path = demos/implisolid-build
	url = https://github.com/sohale/implisolid-build.git
	branch = master
[submodule "demos/daylightworldmap"]
	path = demos/daylightworldmap
	url = git@github.com:siadat/daylightworldmap.git
