<!doctype html>
<meta charset="UTF-8">
<html ng-app="myApp">
<head>
    <title>Sohail's homepage</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js">
    </script>
    <!-- See https://angularjs.org/ -->

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body style="font-family: 'Roboto', sans-serif;">


  Homepage.<br/>
  <h2>Sohail Siadatnejad</h2>
  C++<br/>
  Python<br/>
  <br/>
  Neuroscience<br/>
  <br/>

<div ng-controller="customersCtrl"> 

Skills:
<table>
  <tr ng-repeat="x in skills">
    <td><b>{{ x.name }}</b></td>
    <td>({{ x.level }})</td>
    <td>{{ x.desc }}</td>
  </tr>
</table>

<!--
<input type="text" ng-model="yourEmail" placeholder="empty">
 placeholder = Enter your email here
<h1>Hello {{yourEmail}}!</h1> -->
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    /*
    $http
        .get("http://www.w3schools.com/angular/customers.php")
        .then(function (response) {$scope.names = response.data.records;});
    */
    $scope.skills =
    [
        {"name": "C++",
            "level": "higher advanced", "desc": "C++14, teaching experience, programming.", "see-also": "Emscripten" /*related*/, "priority": 1},
        {"name": "Java",
            "level": "higher advanced", "desc": "Since 1997.", "priority": 1},
        {"name": "Python",
            "level": "higher advanced", "desc": "2 years commercial.", "priority": 1},
        {"name": "C",
            "level": "...", "desc": "", "see-also": "", "priority": -3},
    ];

});
console.log(new Date());
console.log("Fine.");

</script>

<!--
<footer>
Membership
</footer>
-->
</body>
</html>

<!-- todo:
https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Roboto 

@import url(https://fonts.googleapis.com/css?family=Roboto);
-->