name: Jekyll site CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
#
# From: https://github.com/marketplace/actions/checkout-submodules
#    - name: Checkout submodules
#      uses: srt32/git-actions@v0.0.3
#      with:
#        args: git submodule update --init --recursive
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
          -v ${{ github.workspace }}:/srv/jekyll \
          -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
          jekyll/builder:latest \
              /bin/bash -c "
                  chmod 777 /srv/jekyll &&
                  jekyll build --trace --future --disable-disk-cache timezone: Europe/London
              "

